{% extends "base.html" %}

{% block title %}Gallery | 蔵楽Culala{% endblock %}

{% block content %}
      <h2>Culala's Gallery</h2>
      <h3>蔵楽のロゴについて <br>
        <img class="gallery_img" src="static/logo_sample.jpg" alt="蔵楽のロゴ"><br>
        <div class="outline">構想から制作までいちから手作りです。<br>
          右下のロゴのみ、
          <a href="https://pm85122.onamae.jp/851fontpage.html" target="_blank" rel="noreferrer noopener">8:51:22 pm様</a>
          851手書き雑フォント太字をアイビスペイント経由で使用しています。<br>
          <a class="blog_link" href="https://culala-note.blog.jp/archives/8982719.html" target="_blank" rel="noreferrer noopener">ブログで読む</a></div>
      </h3>
{% endblock %}